Q.1 What are data structures, and why are they important?

Ans.Data structures are ways of organizing and storing data to perform operations efficiently. They are important because they enable efficient data management and allow algorithms to run faster.

Q.2 Explain the difference between mutable and immutable data types with examples?

Ans. Mutable data types can be changed after creation, like lists ([1, 2, 3]). Immutable data types cannot be changed, like tuples ((1, 2, 3))

Q.3 What are the main differences between lists and tuples in Python?

Ans. Lists are mutable and can be modified, whereas tuples are immutable and cannot be changed. Lists are defined with square brackets [ ], while tuples use parentheses ( )

Q.4 Describe how dictionaries store data?

Ans.Dictionaries store data as key-value pairs, where each key is unique, and the value is accessed using its corresponding key.

Q.5 Why might you use a set instead of a list in Python?

Ans. Sets are used when you need unique elements and do not care about the order. They automatically remove duplicates.

Q.6 What is a string in Python, and how is it different from a list?

Ans: A string is a sequence of characters, whereas a list is a collection of elements that can be of different data types. Strings are immutable, but lists are mutable.

Q.7 How do tuples ensure data integrity in Python?

Ans: Tuples are immutable, meaning their values cannot be changed, which ensures that data remains consistent and protected from accidental modification.

Q.8 What is a hash table, and how does it relate to dictionaries in Python?

Ans: A hash table is a data structure that maps keys to values using a hash function. Python dictionaries use hash tables internally to store key-value pairs efficiently.

Q.9 Can lists contain different data types in Python?

Ans: Yes, a list can contain elements of different data types, such as integers, strings, and other lists.

Q.10 Explain why strings are immutable in Python.

Ans: Strings are immutable to ensure consistency, security, and better performance when handling multiple references to the same string object.

Q.11 What advantages do dictionaries offer over lists for certain tasks?

Ans: Dictionaries provide fast access to values using unique keys, making them efficient for lookups compared to lists.

Q.12 Describe a scenario where using a tuple would be preferable over a list.

Ans: Tuples are preferable when you want to store fixed data that should not be modified, like coordinates or configurations.

Q.13 How do sets handle duplicate values in Python?

Ans: Sets automatically remove duplicate values and only store unique elements.

Q.14 How does the “in” keyword work differently for lists and dictionaries?

Ans: In lists, the in keyword checks for the presence of a value, while in dictionaries, it checks for the presence of a key.

Q.15 Can you modify the elements of a tuple? Explain why or why not.

Ans: No, you cannot modify the elements of a tuple because tuples are immutable.

Q.16 What is a nested dictionary, and give an example of its use case?

Ans: A nested dictionary is a dictionary within another dictionary. Example: {'person': {'name': 'Alice', 'age': 25}}. It can be used to store hierarchical data like user profiles.

Q.17 Describe the time complexity of accessing elements in a dictionary.

Ans: Accessing elements in a dictionary has an average time complexity of O(1) due to its hash table implementation.

Q.18 In what situations are lists preferred over dictionaries?

Ans: Lists are preferred when the order of elements matters, or when you need to store duplicate values.

Q.19 Why are dictionaries considered unordered, and how does that affect data retrieval?

Ans: Dictionaries are unordered because they store elements based on hash values, not their insertion order. This means you cannot access elements by position.

Q.20 Explain the difference between a list and a dictionary in terms of data retrieval.

Ans: In a list, elements are retrieved using their index, while in a dictionary, values are retrieved using unique keys.

In [1]:
# Practical Questions:-

Q.1  Write a code to create a string with your name and print it.

In [3]:
name = "Mohit"
print(name)

Mohit


Q.2 Write a code to find the length of the string "Hello World"

In [4]:
string = "Hello World"
print(len(string))

11

Q.3 Write a code to slice the first 3 characters from the string "Python Programming"

In [7]:
string = "Python Programming"
print(string [:3])

Pyt

Q.4 Write a code to convert the string "hello" to uppercase.

In [8]:
string = "hello"
print(string.upper())

HELLO

Q.5  Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [9]:
string = "I like apple"
print(string.replace("apple", "orange"))

I like orange

Q.6 Write a code to create a list with numbers 1 to 5 and print it

In [10]:
numbers = [1, 2, 3, 4, 5]
print (numbers)

[1, 2, 3, 4, 5]

Q.7 Write a code to append the number 10 to the list [1, 2, 3, 4]

In [12]:
list = [1, 2, 3, 4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

Q.8 Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [17]:
number = [1, 2, 3, 4, 5]
number.remove(3)
print(number)

[1, 2, 4, 5]

Q.9 Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [19]:
list = ['a', 'b', 'c', 'd']
print(list[1])

b

Q10. Write a code to reverse the list [10, 20, 30, 40, 50]

In [20]:
list = [10, 20, 30, 40, 50]
list.reverse()
print (list)

[50, 40, 30, 20, 10]

Q11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [22]:
tpl = (100, 200, 300)
print(tpl)
type(tpl)

(100, 200, 300)

tuple

Q12.  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')

In [23]:
color = ('red', 'green', 'blue', 'yellow')
print(color[-2])

blue

Q13. Write a code to find the minimum number in the tuple (10, 20, 5, 15)

In [26]:
number = (10, 20, 5, 15)
print(min(number))

5

Q14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

In [29]:
animals = ('dog', 'cat', 'rabbit')
print(animals.index("cat"))

1

Q15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [30]:
fruits = ('apple', 'banana', 'grapes')
print("kiwi" in fruits)

False

Q.16 Write a code to create a set with the elements 'a', 'b', 'c' and print it

In [64]:
my_set = {'a', 'b', 'c'}
print(my_set)

{'a', 'c', 'b'}

Q.17 Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [33]:
number = {1, 2, 3, 4, 5}
number.clear()
print(number)

set()

Q.18  Write a code to remove the element 4 from the set {1, 2, 3, 4}

In [34]:
number = {1, 2, 3, 4}
number.remove(4)
print(number)

{1, 2, 3}

Q.19 Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [39]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

Q.20  Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [40]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
print(set1.intersection(set2))

{2, 3}

Q21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it

In [42]:
dictionary = {"name": "Mohit", "age": 20, "city": "Lohaghat"}
print(dictionary)

{'name': 'Mohit', 'age': 20, 'city': 'Lohaghat'}

Q22. . Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}

In [43]:
dictionary = {'name': 'John', 'age': 25}
dictionary["country"] = "USA"
print(dictionary)

{'name': 'John', 'age': 25, 'country': 'USA'}

Q.23  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}

In [44]:
dictionary = {'name': 'Alice', 'age': 30}
print(dictionary["name"])

Alice

Q.24 Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}

In [47]:
dictionary = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del dictionary["age"]
print(dictionary)

{'name': 'Bob', 'city': 'New York'}

Q.25  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}

In [48]:
dictionary = {'name': 'Alice', 'city': 'Paris'}
print("city" in dictionary)

True

Q.26 Write a code to create a list, a tuple, and a dictionary, and print them all

In [49]:
list = [1, 2, 3]
print(list)
tpl = (1, 2, 3)
print(tpl)
dictionary = {"name": "Mohit", "age": 20, "city": "Lohaghat"}
print(dictionary)

[1, 2, 3]
(1, 2, 3)
{'name': 'Mohit', 'age': 20, 'city': 'Lohaghat'}

Q.27 Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [50]:
list = [1, 25, 8, 64, 15]
list.sort()
print(list)

[1, 8, 15, 25, 64]

Q.28 Write a code to create a list with strings and print the element at the third index

In [51]:
list = ["apple", "banana", "grapes", "orange"]
print(list[2])

grapes

Q.29 Write a code to combine two dictionaries into one and print the result.

In [52]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
dict1.update(dict2)
print(dict1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

Q.30 Write a code to convert a list of strings into a set

In [65]:
string = ["apple", "banana", "grapes"]
new_set = set(string)
print(new_set)

{'grapes', 'banana', 'apple'}